div.text-center {
    padding-bottom: 2%;
    padding-top: 3%;
    width: 40%;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(230, 242, 252, 1);
}

label {
    text-align: left !important;
}

div.addformconfirm button {
    margin: auto !important;
}
