div.text-center {
    /*margin: 25px 50px;*/
    padding-bottom: 4%;
    padding-top: 4%;
    background-color: rgba(230, 242, 252, 1);
}

label {
    text-align: left !important;
}

div.addformconfirm button {
    margin: auto !important;
}
