div.listform {
    width: 80% !important;
    margin: auto;
}

div.list div.col-10 {
    height: 400px !important;
    overflow-y: scroll !important;
}

div.listform {
    margin-bottom: 20px;
    margin-top: 10px;
}

div.addreceiver button, div.addformbutton button {
    margin: 0 0 20px 60px;
    font-family: monospace, "Courier New";
    background-color: white;
    color: darkblue;
    border-color: darkblue;;
}

div.addreceiver button:hover, div.addformblock button:hover {
    color: crimson;
    background-color: white;
    border-color: crimson;
}
