div.listform, table {
    width: 80%;
    margin: auto;
    /*margin: 15px 75px;*/
    /*max-height: 80% !important;*/
}

div.addreceiver button, div.addformbutton button {
    margin: 20px 0 20px 60px;
    padding: 20px 20px;
    font-family: monospace, "Courier New";
    background-color: white;
    color: darkblue;
    border-color: darkblue;;
}

div.addreceiver button:hover, div.addformblock button:hover {
    color: crimson;
    background-color: white;
    border-color: crimson;
}

table {
    max-height: 10% !important;
}
